= form_for(@user, url: users_path) do |f|
  /! Handle Errors Here!!!
  div.field
    =f.label 'Name'
    =f.text_field 'name'
  div.field
    =f.label 'Email'
    =f.email_field 'email'
  div.field
    =f.label 'Email Confirmation'
    =f.email_field 'email_confirmation'
  div.field
    =f.label 'Password'
    =f.password_field 'password'
  div.field
    =f.label 'Password Confirmation'
    =f.password_field 'password_confirmation'
  div.action
    =f.submit
