= form_for(@user, url: users_path) do |f|
  /! Handle Errors Here!!!
  div.field
    =f.label :name
    =f.text_field :name
  div.field
    =f.label :email
    =f.email_field :email
  div.field
    =f.label :email_confirmation
    =f.email_field :email_confirmation
  div.field
    =f.label :password
    =f.password_field :password
  div.field
    =f.label :password_confirmation
    =f.password_field :password_confirmation
  div.action
    =f.submit
