/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "materialize";

@media screen and (min-width: 850px) {
  html {
    width: 850px;
    margin: 0 auto 2em auto;
  }
}

@media screen and (min-width: 200px) and (max-width: 550px) {
  html {
    width: 90%;
    margin: 0 auto 1em auto;

    .welcome {
      text-align: center;
    }

    .action input {
      padding: 1em 2em;
      background-color: color("materialize-red", "lighten-2");
      border: none;
      border-radius: 10px;
    }
  }
}
